<app-help class="d-none"></app-help>
<div class="u-heading">
   <h2 style="top:8px">ACO Scorecard</h2>
</div>
<div class="filter-bar">
   <div class="download-option mt-0" *ngIf="member_list?.length">

      <span class="excel-icon" (click)="getReport('excel')"><i class="fa fa-file-excel-o" aria-hidden="true"></i><span
            class="download-text">Download Excel Sheet</span></span>
   </div>
   <form action="" class="form-inline" autocomplete="off">
      <div class="form-group p-0 mr-sm-2 col-md-2" style="position: relative;padding: 0;" *ngIf="rolename!='provider'">
         <input [(ngModel)]="provider_name" (keyup)="searchProvider()" class="form-control col-12" name="provider_name"
            placeholder="Search Provider" type="text" required style="width:100%">
         <div *ngIf="members?.length>0 && showPanel" class="dropdown-menu show" style="left: auto;width:100%">
            <div *ngFor="let member of members">
               <a *ngIf="member.FirstName" href="javascript:void(0)" (click)="getInsurance(member)"
                  class="dropdown-item">
                  {{member.LastName}} {{member.FirstName}}
                  <!-- <span *ngIf="member.email"> | {{member.email}} </span> -->
               </a>
            </div>
         </div>
         <div *ngIf="members?.length == 0 && showPanel" class="dropdown-menu show" style="left: auto;width:100%;">
            <div>
               <a href="javascript:void(0)" class="dropdown-item">
                  No provider found
               </a>
            </div>
         </div>
      </div>
      <select [(ngModel)]="params.groupid" (change)="GroupName=$event.target.selectedOptions[0].label"
         class="form-control mb-2 mr-sm-2 mb-sm-0 col-md-2" name="groupid">
         <option value="0" [selected]="true">Select group</option>
         <option *ngFor="let group of ACO_groups" [value]="group.GroupID" [label]="group.GroupName">
            {{ group.GroupName }}
         </option>
         <option value="">All</option>
      </select>
      <select [(ngModel)]="params.aco" class="form-control mb-2 mr-sm-2 mb-sm-0 col-md-1" name="acowise">
         <option value="">Select ACO</option>
         <option value="Integral">
            Integral
         </option>
         <!-- <option value="Eminence"> 
         Eminence
      </option> -->


      </select>
      <select [(ngModel)]="params.year" class="form-control mb-2 mr-sm-2 mb-sm-0 col-md-1" name="year"
         (change)="checkMonth(params.year)" required>
         <option [selected]="true" value="">Select year</option>
         <option *ngFor="let year of years" [value]="year">{{year}}</option>
      </select>
      <select [(ngModel)]="params.month" class="form-control mb-2 mr-sm-2 mb-sm-0 col-md-1" name="month"
         (change)="formatDate()" required>
         <option [selected]="true" value="">Select Month</option>
         <option *ngFor="let month of months" [value]="month.value">
            {{ month.full }}
         </option>
      </select>
      <div class="form-group">
         <button type="submit" class="btn btn-primary btn-sm ml-2 mr-1" (click)="getAllMembers(true)"><span><i
                  class="fa fa-user"></i></span>View
            members</button>
         <button type="button" class="btn btn-reset btn-sm ml-1 mr-2" (click)="resetFilters()"><span><i
                  class="fa fa-refresh"></i>
            </span>Reset</button>

      </div>
   </form>
</div>


<div class="custom-container">
   <!-- <div 
      class="te float-right f-14"><span><b>Total
      Entries : {{total_pages}}</b></span>
   </div> -->
   <table class="table table-responsive-sm table-hover table-outline mb-0 bg-white mob report-table blur">
      <thead>
         <tr>
            <th>S.No.</th>
            <th>Measures</th>
            <th>Denominator</th>
            <th>Exclusion</th>
            <!-- <th>DenException</th> -->
            <th>Numerator</th>
            <th>Gaps</th>
            <th>Compliance %</th>
         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let member of member_list; let i = 'index'">
            <td data-label="S.No." *ngIf="page == 1">{{i+1}}</td>

            <td data-label="measures">{{member?.measurename}}</td>
            <td data-label="Denominator" *ngIf="member?.den"><a href="javascript:void(0)"
                  [routerLink]="['/reports/aco/gaps']"
                  (click)="storeACODetails(member.measureid, member.measurename, 'Denominator')">{{member?.den}}</a>
            </td>
            <td data-label="Denominator" *ngIf="!member?.den">0</td>

            <td data-label="Exclusion" *ngIf="member?.exclusion"><a href="javascript:void(0)"
                  [routerLink]="['/reports/aco/gaps']"
                  (click)="storeACODetails(member.measureid, member.measurename, 'Exclusion')">{{member?.exclusion}}</a>
            </td>
            <td data-label="Exclusion" *ngIf="!member?.exclusion">0</td>
            <!-- <td data-label="Age">{{member.Age || calculateAge(member.dob)}}</td> -->
            <!-- <td 
               data-label="denexception">{{member?.denexception}}</td> -->
            <td data-label="Numerator" *ngIf="member?.num"><a href="javascript:void(0)"
                  [routerLink]="['/reports/aco/gaps']"
                  (click)="storeACODetails(member.measureid, member.measurename, 'Numerator')">{{member?.num}}</a></td>
            <td data-label="Numerator" *ngIf="!member?.num">0</td>


            <td data-label="Gaps" *ngIf="member?.gaps"><a href="javascript:void(0)" [routerLink]="['/reports/aco/gaps']"
                  (click)="storeACODetails(member.measureid, member.measurename, 'Gaps')">{{member?.gaps}}</a></td>
            <td data-label="Gaps" *ngIf="!member?.gaps">0</td>

            <td data-label="Compliance %">{{member?.completed | round}}</td>


         </tr>
      </tbody>
   </table>
   <nav *ngIf="total_pages > 15" aria-label="Page navigation example" style="margin-top: 25px;">
      <ul *ngIf="pager.pages && pager.pages.length && showPagination" class="pagination justify-content-center">
         <li class="page-item">
            <a class="page-link" href="javascript:void(0)" [class.disabled]="page
            === 1" (click)="loadByPage(pager.currentPage - 1)" aria-label="Previous">
               <span aria-hidden="true">&laquo;</span>
               <span class="sr-only">Previous</span>
            </a>
         </li>
         <li [class.active]="p==page" *ngFor="let
         p of pager.pages" class="page-item">
            <a href="javascript:void(0)" (click)="loadByPage(p)" class="page-link">{{p}}</a>
         </li>
         <li class="page-item">
            <a class="page-link" href="javascript:void(0)" [class.disabled]="page
            === total_pages" (click)="loadByPage(pager.currentPage + 1)" aria-label="Next">
               <span aria-hidden="true">&raquo;</span>
               <span class="sr-only">Next</span>
            </a>
         </li>
         <li class="custom_page"><input type="number" onkeypress="return event.charCode != 45" min="1" #pgno>
            <button class="btn btn-primary" (click)="loadByPage(pgno.value)">goto
               page</button>
         </li>
      </ul>
   </nav>
</div>