.col {
	padding-left:0px;
	padding-right:0px;
	margin-right:10px;
	
}

.col1{
	

}
.col2
{
	margin-right:12px !important;
}
.col3
{
	min-height: 316px !important;
}
.col4
{
    margin-right:0px !important;
}