<app-help class="d-none"></app-help>
<div class="audit-component">
<div class="u-heading">
<h2 style="top:8px">Gap Audit</h2>
<div class="pull-right member-listing" style="margin-top:0px;">
   <form action="" class="form-inline" autocomplete="off">
     <div class=" float-none d-inline-block ml-2"  >
      <span class="pdf-icon" (click)="getReport('pdf')"><i class="fa fa-file-pdf-o" aria-hidden="true"> </i><span class="download-text">Download Pdf</span></span>
      <span class="excel-icon" (click)="getReport('excel')"><i class="fa fa-file-excel-o" aria-hidden="true"></i><span  class="download-text">Download Excel Sheet</span></span>
   </div>
          <label class="f-14 mx-1" >Search By</label>
    <div class="form-group p-1 ">
     <label class="sr-only" for="if-password">Category</label>
      <select [(ngModel)]="search_category"  class="form-control col-12" id="select" name="gender">
        <option [selected]="true" value="">Select category</option>
        <option value="name">Member Name</option>
        <option value="id">Subscriber Id</option>
        <option value="dob">DOB</option>
      </select>
    </div>
    <div class="form-group p-1">
      <label class="sr-only" for="if-password">Search</label>
      <input type="text" name ="search" [disabled]="!search_category" class="form-control col-12" (keyup)="search_value(term.value)"  type="text" placeholder="Search.." #term>
    </div>
    <i class="material-icons" (click)="search(term.value)" >search</i>
  </form>
  </div>
</div>
<div class="filter-bar">
   
   <form action="" class="form-inline" autocomplete="off">
      <angular2-multiselect name="items"  [data]="dropdownList" [(ngModel)]="selectedItems"
         [settings]="dropdownSettings"
         (onSelect)="onItemSelect($event)"
         (onDeSelect)="OnItemDeSelect($event)"
         (onSelectAll)="onSelectAll($event)"
      (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>
      <!-- <div class="form-group col-md-1  p-0 mr-sm-2" *ngIf="insurance_list?.length >0">
         <label class="sr-only" for="if-password">Healthplan</label>
         <select [(ngModel)]="params.healthplanid"    class="form-control col-12"  name="insurance" (change)="healthplanName=$event.target.selectedOptions[0].label">
            <option [selected]="true" value="">Healthplan</option>
            <option *ngFor="let insurance of insurance_list" [value]="insurance.healthplan_id"  [label]="insurance.health_Name">
               {{ insurance.health_Name }}
            </option>
            <option value="0" *ngIf="insurance_list.length > 1">All</option>
         </select>
      </div> -->
      <!-- <div class="form-group col-2  p-0 mr-sm-2" style="position: relative;padding: 0;" *ngIf="rolename!='provider'">
         <input  [(ngModel)]="provider_name" (keyup)="SearchProviderByHp()" class="form-control col-12" name="provider_name" placeholder="Search Provider" type="text" required style="width:100%" >
         <img *ngIf="searching"  class="input-loading-img" src="assets/img/input-spinner.gif">
         <div  *ngIf="members?.length>0 && showPanel" class="dropdown-menu show" style="left: auto;">
            <div class="dropdown-header text-center"><strong>Members associated with provider</strong></div>
            <div *ngFor="let member of members">
               <a *ngIf="member.FirstName" href="javascript:void(0)"  (click)="getInsurance(member)"  class="dropdown-item text-capitalize" >
                  {{member.FirstName}} {{member.LastName}}
                  <span class="text-lowercase" *ngIf="member.email"> | {{member.email}} </span>
               </a>
            </div>
         </div>
         <div  *ngIf="members?.length == 0 && showPanel" class="dropdown-menu show" style="left: auto;width:100%;">
            <div class="dropdown-header text-center"><strong>Members associated with provider</strong></div>
            <div >
               <a  href="javascript:void(0)"   class="dropdown-item" >
                  No provider found
               </a>
            </div>
         </div>
         <p style="color:red;position:absolute" *ngIf="insurance_list?.length ==0 ">No healthplan associated with this provider</p>
      </div> -->
      <!-- <div class="form-group col-1  p-0 mr-sm-2" *ngIf="insurance_list?.length >0" (change)="getAllIPA()"> -->
      
      <!-- <div class="form-group col-1 mx-1 p-0" *ngIf="ipa_list?.length >0">
         <label class="sr-only" for="if-password">ipa</label>
         
         <select  [(ngModel)]="params.IPA_ID"   class="form-control col-12"  name="ipa" (change)="showDates = true">
            <option [selected]="true" value="">Select IPA</option>
            <option *ngFor="let ipa of ipa_list" [value]="ipa.IPA_ID">
               {{ ipa.IPA_Name }}
            </option>
         </select>
      </div>  -->
       <div class=" mb-2 mr-sm-2 mb-sm-0" style="position: relative;padding: 0;">
               <!-- [ngClass]="{'input-loading': searching}" -->
               <input   [(ngModel)]="provider_name" (keyup)="searchProvider()" class="form-control " name="provider_name" placeholder="Search Provider" type="text" required style="width:100%" >
               <img *ngIf="searching"  class="input-loading-img" src="assets/img/input-spinner.gif">
               <div  *ngIf="members?.length>0 && showPanel" class="dropdown-menu show" style="min-width:100%">
                  <!-- <div class="dropdown-header text-center"><strong>Members associated with provider</strong></div> -->
                  <div *ngFor="let member of members"><a *ngIf="member.FirstName" href="javascript:void(0)"   class="dropdown-item" (click)="getInsurance(member)">
                    {{member.LastName}} {{member.FirstName}}   <span *ngIf="member.email"> | {{member.email}} </span>
                  </a>
               </div>
            </div>
            <div  *ngIf="members?.length == 0 && showPanel" class="dropdown-menu show" style="left: auto;width:100%;">
               <!-- <div class="dropdown-header text-center"><strong>Members associated with provider</strong></div> -->
               <div ><a  href="javascript:void(0)"   class="dropdown-item" >
                  No provider found
               </a>
            </div>
         </div>
         <p style="color:red;position:absolute" *ngIf="insurance_list?.length ==0 ">No healthplan associated with this provider</p>
      </div>

<!-- this.provider.healthplanName = $event.target.selectedOptions[0].label -->

     
      <select [(ngModel)]="params.healthplanid" *ngIf="currentRole !== 'healthplan'" class="form-control mb-2 mr-sm-2 mb-sm-0 col-1"  name="insurance" required>
         <option [selected]="true" value="">Select Healthplan</option>
         <option  *ngFor="let insurance of insurance_list" [value]="insurance.healthplan_id" [label]="insurance.health_Name">
            {{ insurance.health_Name }}
         </option>
         <option value="0">All</option>
      </select>
 <select [(ngModel)]="roleid"  class="form-control mb-2 mr-sm-2 mb-sm-0 col-1"  name="assurance"  (change)="getAssuranceUsers()" required>
         <option [selected]="true" value="">Select User Role</option>
         <option  *ngFor="let x of user_role" [value]="x.User_Role_ID" [label]="x.User_Role_Name">
            {{ x.User_Role_Name }}
         </option>
        
      </select>
      <select  [(ngModel)]="params.docsubmittedby" class="form-control mb-2 mr-sm-2 mb-sm-0 col-md-1"  name="docsubmittedby" *ngIf="currentRole !== 'qa'" >
         <option  value="">Submitted by</option>
         <option  [selected]="params.docsubmittedby == user.userid" *ngFor="let user of assuranceUsers" [value]="user.userid"> {{user.lastname}}, {{user.firstname}}</option>
      </select>

      <select  [(ngModel)]="date.year" class="form-control mb-2 mr-sm-2 mb-sm-0 col-md-1"  name="year" (change)="checkMonth(date.year)">
         <option  value="">Select year</option>
         <option [selected]="year == current_year" *ngFor="let year of years" [value]="year">{{year}}</option>
      </select>
      <select [(ngModel)]="date.month"   class="form-control mb-2 mr-sm-2 mb-sm-0 col-md-1"  name="month" (change)="formatDate()">
         <option  value="">Select Month</option>
         <option  *ngFor="let month of months" [value]="month.value" >
            {{ month.full }}
         </option>
      </select>
      <select [(ngModel)]="params.status" class="form-control mb-2 mr-sm-2 mb-sm-0 col-md-1"  name="gender">
         <option [selected]="true" value="">Document status</option>
         <option value="approved">Approved</option>
         <option value="rejected">Rejected</option>
         <option value="pending">Pending</option>
         <option value="reviewed">Reviewed</option>
         <option value="onlyreviewed">Only Reviewed</option>
         <option value="all">All</option>
      </select>
      
      <div class="form-group dash-views" >
         <button type="submit" class="btn btn-primary btn-sm ml-2 mr-1" (click)="getAllMembers(true)" ><span><i class="fa fa-user"></i></span>View Gaps</button>
         <button type="button" class="btn btn-reset btn-sm ml-1 mr-2" (click)="resetFilters()" ><span><i class="fa fa-refresh"></i>
         </span>Reset</button>
      </div>
   </form>
</div>
<div class="custom-container">
   <div class="te float-right f-14"><span><b>Total Entries : {{total_pages}}</b></span></div>
   <table class="table table-responsive-sm table-hover table-outline mb-0 bg-white mob report-table mob blur">
      <thead>
         <tr>
            <th >S.No.</th>
            <th>Member Name</th>
            <!-- <th>Billing Provider Address</th> -->
            <th >PCP Name</th>
            <!-- <th >Source</th> -->
            <th>Healthplan Name</th>
            <th>Member DOB</th>
            <th>Subscriber ID</th>
            <th>Gender</th>
            <!-- <th>Age</th> -->
            <th>Measure Needed</th>
            <!-- <th>Date Needed By</th> -->
            <!-- <th>Last Office Visit</th> -->
            <!-- <th>PCP Phone</th> -->
            <th>Status</th>
            <th>Submitted By</th>
            <th>Submitted Date</th>
            <th>Auditor Name</th>
            
            
             <th>Audit Date</th>
            <!-- <th>PCP County</th> -->
         </tr>
      </thead>
      <tbody>





         <tr *ngFor="let member of member_list; let i = 'index'">
            <td data-label="S.No." *ngIf="page == 1">{{i+1}}</td>
            <td  data-label="S.No." *ngIf="page > 1">{{(i+1)+(page-1)*params.pageSize}}</td>

            <td data-label="Member Name" *ngIf="date.year == current_year && member.status != 'reviewed'"><a href="javascript:void(0)" (click)="openGapModal(member);">{{member.Subscriber_LastName?.toLowerCase()}}, {{member.Subscriber_FirstName?.toLowerCase()}}</a></td>

            <td data-label="Member Name" *ngIf="date.year == current_year && member.status == 'reviewed'">{{member.Subscriber_LastName?.toLowerCase()}}, {{member.Subscriber_FirstName?.toLowerCase()}}</td>

            <td data-label="Member Name" *ngIf="date.year != current_year"><a href="javascript:void(0)" >{{member.Subscriber_LastName?.toLowerCase()}}, {{member.Subscriber_FirstName?.toLowerCase()}}</a></td>

           <!--  <td data-label="Member Name" *ngIf="currentRole !== 'audit' && currentRole !== 'qa'">{{member.Subscriber_LastName?.toLowerCase()}}, {{member.Subscriber_FirstName?.toLowerCase()}}</td> -->


            <!-- {{member.subscribermidname?.toLowerCase()}} -->
            <!-- <td data-label="Member Name" *ngIf="!userRolePerm?.add">{{member.Subscriber_LastName?.toLowerCase()}}, {{member.Subscriber_FirstName?.toLowerCase()}}</td> -->
            
            <!-- <td data-label="PCP Name" class="text-capitalize"><span *ngIf="member.PROVIDER_FirstName">Dr. </span>{{member.PROVIDER_FirstName?.toLowerCase()}} {{member.PROVIDER_MidName?.toLowerCase()}} {{member.PROVIDER_LastName?.toLowerCase()}}</td> -->

            <td data-label="PCP Name" class="text-capitalize"><span *ngIf="member.PROVIDER_FirstName">Dr. </span> {{member.PROVIDER_LastName?.toLowerCase()}}, {{member.PROVIDER_FirstName?.toLowerCase()}} </td>

            <td data-label="Healthplan Name">{{member.HealthPlanName?.toLowerCase()}}</td>
            <td data-label="Member DOB">{{member.DateOfBirth | date}}</td>
            <td data-label="Subscriber ID">{{member.SubscriberID}}</td>
            <td data-label="Gender">{{member.Gender}}</td>
            <!-- <td data-label="Age">{{calculateAge(member.DateOfBirth)}}</td> -->
            <td data-label="Measure Needed">{{member.Measure_Name}}
            </td>
            <!-- <td data-label="Date Needed By"></td> -->
            <!-- <td data-label="Last Office Visit">{{member.lastofficevisit | date}}</td> -->
            <!-- <td data-label="PCP Phone">{{member?.phoneno}}</td> -->
            <!-- <i class="fa fa-check text-success"></i> -->
            <td data-label="Status" *ngIf="member.status == 'approved'" style="color:green">Approved</td>
            <td data-label="Status" *ngIf="member.status == 'rejected'" style="color:red">Rejected</td>
            <td data-label="Status" *ngIf="member.status == 'pending' || member.status == 'Pending'" style="color:blue">Pending</td>
            <td data-label="Status" *ngIf="member.status == 'reviewed'" style="color:blue">Reviewed</td>
            <td data-label="Submitted By">{{member.createdlastname}} {{member.createdfirstname}} </td>
            <td data-label="Submitted Date">{{member.submissiondate | date}}</td>
            <td data-label="Auditor Name">{{member.Auditorname}}</td>
            
            
            <td data-label="Audit Date">{{member.auditdate | date}}</td>
            <!-- <i class="fa fa-times text-danger"></i> -->
            <!-- <td data-label="PCP Fax">{{member?.fax}}</td>
            <td data-label="PCP County">{{member?.county?.toLowerCase()}}</td> -->
         </tr>
      </tbody>
   </table>
   <nav *ngIf="total_pages > 15" aria-label="Page navigation example" style="    margin-top: 25px;">
      <ul *ngIf="pager.pages && pager.pages.length && showPagination" class="pagination justify-content-center">
         <li class="page-item">
            <a class="page-link" href="javascript:void(0)" [class.disabled]="page === 1" (click)="loadByPage(pager.currentPage - 1)" aria-label="Previous">
               <span aria-hidden="true">&laquo;</span>
               <span class="sr-only">Previous</span>
            </a>
         </li>
         <li [class.active]="p==page" *ngFor="let p of pager.pages" class="page-item">
            <a href="javascript:void(0)" (click)="loadByPage(p)" class="page-link">{{p}}</a>
         </li>
         <li class="page-item">
            <a class="page-link" href="javascript:void(0)" [class.disabled]="page === total_pages" (click)="loadByPage(pager.currentPage + 1)" aria-label="Next">
               <span aria-hidden="true">&raquo;</span>
               <span class="sr-only">Next</span>
            </a>
         </li>
         <li class="custom_page" ><input type="number" onkeypress="return event.charCode != 45" min="1" #pgno >
            <button class="btn  btn-primary" (click)="loadByPage(pgno.value)">goto page</button>
         </li>
      </ul>
   </nav>
   <!--   <button type="submit" class="btn btn-primary btn-sm" (click)="getProviderMembers()" >View members</button> -->
</div>
<div bsModal #userModal="bs-modal" class="modal fade u-modal" tabindex="-1" role="dialog" [config]="{backdrop: 'static'}" aria-labelledby="userModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h4  class="modal-title" >{{measureName}} - GAP Audit</h4>
            <button type="button" class="close" (click)="userModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body Update-gap-modal">
            <div class="row">
               <div class="col-6 col-lg-4">
                  <div class="card">
                     <div class="card-body p-0 clearfix">
                        <i class="fa fa-user orange-bg p-4 font-2xl mr-3 float-left"></i>
                        <div class="h5 mb-0 pt-3">Member Name</div>
                        <!-- {{gapMember?.subscribermidname}}  -->
                        <div class="text-capitalize">{{gapMember?.Subscriber_LastName}}, {{gapMember?.Subscriber_FirstName}}</div>
                     </div>
                  </div>
               </div>
               <div class="col-6 col-lg-4">
                  <div class="card">
                     <div class="card-body p-0 clearfix">
                        <i class="fa fa-address-book light-green-bg p-4 font-2xl mr-3 float-left"></i>
                        <div class="h5 mb-0 pt-3">Unique Member ID</div>
                        <div class="text-capitalize"> {{gapMember?.SubscriberID}}</div>
                     </div>
                  </div>
               </div>
               <div class="col-6 col-lg-4">
                  <div class="card">
                     <div class="card-body p-0 clearfix">
                        <i class="fa fa-user-md blue-bg p-4 font-2xl mr-3 float-left"></i>
                        <div class="h5 mb-0 pt-3">Provider's Name</div>
                        
                         <div class="text-capitalize" *ngIf="gapMember?.PROVIDER_LastName=='NA'"> {{gapMember?.PROVIDER_LastName}} {{gapMember?.PROVIDER_MidName}} {{gapMember?.PROVIDER_FirstName}}  </div>
                         <div class="text-capitalize" *ngIf="gapMember?.PROVIDER_LastName!='NA'">Dr. {{gapMember?.PROVIDER_LastName}} {{gapMember?.PROVIDER_MidName}} {{gapMember?.PROVIDER_FirstName}}  </div>
                        <!-- <div class="text-uppercase">{{gapMember?.PROVIDER_FirstName}} {{gapMember?.PROVIDER_MidName}} {{gapMember?.PROVIDER_LastName}}</div> -->
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-6 col-lg-4">
                  <div class="card">
                     <div class="card-body p-0 clearfix">
                        <i class="fa fa-medkit dark-bg p-4 font-2xl mr-3 float-left"></i>
                        <div class="h5 mb-0 pt-3">HealthPlan/Insurance</div>
                        <div class="text-capitalize">{{gapMember?.HealthPlanName}}</div>
                     </div>
                  </div>
               </div>
               <div class="col-6 col-lg-4">
                  <div class="card">
                     <div class="card-body p-0 clearfix">
                        <i class="fa fa-calendar gold-bg p-4 font-2xl mr-3 float-left"></i>
                        <div class="h5 mb-0 pt-3">DOB</div>
                        <div class="text-capitalize">{{gapMember?.DateOfBirth | date}}</div>
                     </div>
                  </div>
               </div>
               <div class="col-6 col-lg-4">
                  <div class="card">
                     <div class="card-body p-0 clearfix">
                        <i class="fa fa-users red-bg p-4 font-2xl mr-3 float-left"></i>
                        <div class="h5 mb-0 pt-3">Gender</div>
                        <div class="text-capitalize">{{gapMember?.Gender}}</div>
                     </div>
                  </div>
               </div>
            </div>
            <form action="" class="form-horizontal gap-form audit" #fillGaps="ngForm" autocomplete="off">
               <!-- //common component for retreiving gap templates according to measureid -->
            <app-gap-modal [gapSubmit]="gapSubmit" #childGapTemplate></app-gap-modal>

            <div class="form-group row" *ngIf="gapSubmit?.gapdoc?.length">
               <div class="col-md-12">
                  <div class="upload-doc">
                     <label>Uploaded Documents List</label>
                     <ol>
                        <li *ngFor="let d of gapSubmit?.gapdoc; let i = 'index';" class="f-14">
                           {{d.filename}} <a target="_blank" [href]="CONTENT_BASE+d.fileaddress"><i class="fa fa-file-pdf-o text-danger pl-2"></i></a>
                           
                        </li>
                     </ol>
                  </div>
               </div>
            </div>
            <div class="form-group row" *ngIf="currentRole == 'audit'">
            <div class="col-md-12" *ngIf="gapSubmit?.status == 'pending'">
               <!-- <button   *ngIf="!gapSubmit?.gapsid" (click)="disableBtn = true;updateGapClosure()" [disabled]="disableBtn || !(videofiles?.length > 0  || gapSubmit?.gapdoc?.length > 0) || !disclaimer" type="submit" class="btn btn-success"><i class="fa fa-check"></i>&nbsp;Save</button> -->
               <button class="btn btn-success mr-3" (click)="updateAuditStatus('approved',true )" [disabled]="submitted_gap">Approve</button> 
               <button class="btn btn-danger" (click)="updateAuditStatus('rejected',true)" [disabled]="submitted_gap">Reject</button>
               <!-- <button  *ngIf="gapSubmit?.gapsid" (click)="disableBtn = true;modifyGapClosure()" [disabled]="disableBtn || !(videofiles?.length > 0  || gapSubmit?.gapdoc?.length > 0) || !disclaimer" type="submit" class="btn btn-success"><i class="fa fa-check"></i>&nbsp;Update</button> -->
               <!-- <button type="button" class="btn btn-danger" (click)="userModal.hide()"><i class="fa fa-times"></i>&nbsp;Close</button> -->
            </div>
         </div>


         <div class="form-group row" *ngIf="currentRole == 'administrator' || currentRole == 'executive' ">
            <div class="col-md-12" *ngIf="gapSubmit?.status !== 'pending'">
               <!-- <button   *ngIf="!gapSubmit?.gapsid" (click)="disableBtn = true;updateGapClosure()" [disabled]="disableBtn || !(videofiles?.length > 0  || gapSubmit?.gapdoc?.length > 0) || !disclaimer" type="submit" class="btn btn-success"><i class="fa fa-check"></i>&nbsp;Save</button> -->
               <button  *ngIf="gapSubmit?.status == 'rejected'" class="btn btn-success mr-3" (click)="updateAuditStatus('approved',true )" [disabled]="submitted_gap" >Approve</button> 
               <button  *ngIf="gapSubmit?.status == 'approved'" class="btn btn-danger" (click)="updateAuditStatus('rejected',true)" [disabled]="submitted_gap">Reject</button>
               <!-- <button  *ngIf="gapSubmit?.gapsid" (click)="disableBtn = true;modifyGapClosure()" [disabled]="disableBtn || !(videofiles?.length > 0  || gapSubmit?.gapdoc?.length > 0) || !disclaimer" type="submit" class="btn btn-success"><i class="fa fa-check"></i>&nbsp;Update</button> -->
               <!-- <button type="button" class="btn btn-danger" (click)="userModal.hide()"><i class="fa fa-times"></i>&nbsp;Close</button> -->

            </div>
         </div>
         <div class="form-group row mb-0" *ngIf="displaymessage">
            <div class="col-md-12 f-14 text-center" style="background: #63ae68;color:#fff;padding:10px 0px;" *ngIf="colouridentifier" >
              {{displaymessage}}    
            </div>
            <div class="col-md-12 f-14 text-center" style="background: red;color:#fff;padding:10px 0px;" *ngIf="!colouridentifier">
              {{displaymessage}}    
            </div>
         </div>

         </form>
      </div>
      <div class="modal-footer">
      </div>
   </div>
   <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>

</div>


<!-- <div class="form-group row" *ngIf="gapSubmit?.status == 'pending' && currentRole !== 'qa'">
            <div class="col-md-12">
         
               <button class="btn btn-success" (click)="updateAuditStatus('approved',true )" >Approve</button> 
               <button class="btn btn-danger ml-3" (click)="updateAuditStatus('rejected',true)">Reject</button>
         
            </div>
         </div> -->