.pd-0{padding-left: 0px; padding-right: 0px;}
.member-provider-bg { background: #fff; padding: 10px 15px;width: 100%;    margin: 0 15px 15px;}
.member-detail-bx {float: left;width: 80%;}
.member-detail-bx .col-md-2 {float:left;max-width: 19.5%;}
.member-detail-bx .card {min-height: 190px; margin-bottom: 0px;border:1px solid #e7e7e7 !important;}
.provider-detail-bx {float: left;width:20%;}
.provider-detail-bx .card {border:1px solid #e7e7e7 !important;}

.member-gaps .card-header {box-shadow: none;}
.provider-messages .card-header {box-shadow: none;}
.member-notifications .card-header {box-shadow: none;}
.education-section .card-header {box-shadow: none;}

.member-gap-area {background: #fff; padding: 10px 0px;width: 100%;    margin: 0 15px 15px;}
.member-gap-area .col-lg-6 {float: left;}
.member-gap-area .col-lg-3 {float: left;}

.ccda_section{
	.table thead th{
		background: #fff!important;
		box-shadow: none;
	}
	.card-body{
		max-height: 450px;
		overflow: auto;
	}

	.card:hover, .card:focus, .card:active {
    	transform: none;
	}
}
.card-header{
	cursor: default;
}

// .ccda-blockheading{    font-size: 1.3125rem;
//     font-weight: 600;}

//     .vital_section i.fa {font-size: 2.1875rem !important;}


//     .vital_section .progress-bar {
   
//     background-color: #20a8d8;
// }

// .bg-custom {background-color: #e4e7ea!important; background-color: #e4e7ea;
   
//     box-shadow: none;}
// .ccda_section .ccda-scroll-block{
// 		height: 170px;
//     overflow-y: scroll;
// 	}