.heading-vt-line{ 
border-right: 2px solid #f2e4e4;
    padding-right: 8px;
    }
.inc-height{
	
	vertical-align: middle;
	padding:2px;
}
.survey-icons span
{
padding:0px 8px;
font-size:large;
}
.question-no{
	background-color: #c9c9c9;
    padding: 5px;
}
.u-heading > div {
    margin-top: 13px;
}
.question{
    border-bottom: 2px solid grey;
    padding-bottom: 40px;	
}
.question[_ngcontent-c10] {
    border-bottom: 2px solid grey;
    padding-bottom: 40px;
    font-size: large;
    padding-left: 16px;
}
.answer{
	padding-bottom: 40px;
    font-size: large;
    padding-left: 16px;
}
.time-remain{
	font-size: 19px !important;
    font-weight: 200;
}
.spanpadding>div{

	padding-right:30px;
}
.inlineblock{
	display:inline-block;
}
.inlineblock>div{
	display:inline-block;
}