button.edit-new-btn {background-color: white;border-color: #d7d7d7;  color: #151b1e;    font-size: 12px; font-weight: bold;
i {margin-left: 15px;}
}
button.edit-new-btn:not([disabled]):not(.disabled):active {border-color: #fff; background-color: #fff; color: #151b1e; box-shadow: none; }

