div.forgot-modal {max-width: 442px !important; width: auto;margin: auto;}
.container {background-image: url(/assets/img/reset-password-wall.jpg); background-size:cover; height: 100vh; max-width: 100%;}
