<app-help class="d-none"></app-help>
<div class="app flex-row align-items-center">
  <div class="container reset-password">
    <div class="row">
      <div class="login__block__promo">
        <h1 class="mb-3">
          Reset Password
        </h1>
        <p>Enter a new password for your account.We highly recommend you create a unique password.</p>
      </div>
      <div class="col-md-4">
        <div class="card-group mb-0">
          <div class="card p-4">
            <div class="card-body">
              <form *ngIf="status" class="form-horizontal" autocomplete="off" #updatepass="ngForm">
                <h4>Reset Password</h4>
                <p class="text-muted">Please enter a new password</p>

                <div class="input-group">

                  <input name="password" [(ngModel)]="updatePass.password" class="form-control"
                    placeholder="New Password" type="password" required #new_password="ngModel">
                </div>
                <div class="mb-4">
                  <small class="text-danger"
                    [hidden]="new_password.valid || (new_password.pristine && !updatepass.submitted)">
                    Please enter your new password
                  </small>
                </div>

                <div class="input-group mb-0">

                  <input name="confirm_password" [(ngModel)]="passwordConfirmation" class="form-control"
                    placeholder="Confirm Password" type="password" required #confirm_password="ngModel">
                </div>
                <div class="">
                  <small class="text-danger" [hidden]="(confirm_password.pristine && !updatepass.submitted)"
                    *ngIf="updatePass.password != passwordConfirmation">Password does not match</small></div>

                <div class="row">

                  <div class="col-md-12 mt-4">
                    <button
                      (click)="onUpdatePasswordSubmit((updatepass.valid) && (updatePass.password == passwordConfirmation))"
                      class="btn btn-success" type="submit"><i class="fa fa-check"></i>&nbsp;Save</button>
                    <!-- <button  class="btn btn-danger" type="button"><i  class="fa fa-times"></i>&nbsp;Close</button> -->
                  </div>
                </div>
              </form>
              <p *ngIf="!status">Token invalid</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>