<app-help class="d-none"></app-help>
<!--change password screen start here-->
<div class="container-pass change-password-bx">
  <div class="row">
    <div class="login__block__promo">
      <h1 class="mb-3">
      Change Your Password
      </h1>
      <p>Enter a new password for your account.We highly recommend you create a unique password.</p>
    </div>
    <div class="col-md-4">
      <div class="card-group mb-0">
        <div class="card p-4">
          <div class="card-body">
            <form class="form-horizontal" autocomplete="off"  #changePass="ngForm">
              <h4>Change Password</h4>
              <p class="text-muted">Please enter a new password</p>
              <div class=" mb-3">
                
                <input [(ngModel)]="changePasswrd.oldpassword" name="current_password" class="form-control" placeholder="Current Password" type="password" required #current_password="ngModel">
                <div>
                  <small  class="text-danger" [hidden]="current_password.valid || (current_password.pristine && !changePass.submitted)">
                  Please enter your current password
                  </small>
                </div>
                
              </div>
              <div class=" mb-4">
                
                <input [(ngModel)]="changePasswrd.newpassword" name="new_password" class="form-control" placeholder="New Password" type="password" required #new_password="ngModel">
                <div>
                  <small  class="text-danger" [hidden]="new_password.valid || (new_password.pristine && !changePass.submitted)">
                  Please enter your new password
                  </small>
                </div>
              </div>
              
              <div class=" mb-4">
                
                <input name="confirm_password" [(ngModel)]="passwordConfirmation" class="form-control" placeholder="Confirm Password" type="password" required  #confirm_password="ngModel">
                <div *ngIf="confirm_password.errors" [hidden]="confirm_password.valid || (confirm_password.pristine && !changePass.submitted)">
                  <small class="text-danger" *ngIf="confirm_password.errors.required">Please confirm your new password</small>
                  
                </div>
                <div>
                <small class="text-danger" [hidden]="(confirm_password.pristine && !changePass.submitted)"  *ngIf="changePasswrd.newpassword != passwordConfirmation">Password does not match</small></div>
                <div>
                <small class="text-danger"  *ngIf="error">Password updation failed</small></div>
              </div>
              <div class="row">
                
                <div class="col-md-12">
                  <button type="submit" class="btn btn-success" (click)="onChangePasswordSubmit((changePass.valid) && (changePasswrd.newpassword == passwordConfirmation))"><i class="fa fa-check"></i>&nbsp;Save</button>
                  <!-- <button type="button" class="btn btn-danger"><i class="fa fa-times"></i>&nbsp;Close</button> -->
                </div>
              </div>
            </form>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
<!--change password screen end here-->


<!-- Terms of use modal -->
<div class="modal fade  u-modal" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">Terms of Use</h4>
        
       
      </div>
      <div class="modal-body f-14">

        <div> <input [(ngModel)]="accept"  name="inline-checkbox1" type="checkbox" value="option1">&nbsp;<b>By checking this box, I attest to the following:</b></div><br>

All of the information that I submit will, to the best of my knowledge, be true, accurate, and complete. If I become aware that any submitted information is not true, accurate, and complete, I agree to promptly correct such information or, if I am unable to make a correction, immediately notify the system administrator. I understand that knowingly or intentionally omitting, misrepresenting, or falsifying any submitted information may be punishable by criminal, civil, or administrative penalties, including, but not limited to, fines, civil damages, and/or imprisonment. <br>

I understand and acknowledge that this system is provided for authorized use only and any unauthorized, improper, or unlawful use may result in disciplinary action, including civil and/or criminal penalties.<br>

<b>Further, I understand and consent to the following:</b><br>

The system administrator and affiliated parties, including government agencies and health plans, may monitor, record, and audit my system usage, including usage of personal devices and email systems, for official duties or to conduct their respective business. I understand that I have no reasonable expectation of privacy regarding my use of this system. At any time and for any lawful purpose, the Government may monitor, intercept, and search and seize any communication or data transiting or stored within this system. Any communication or data transiting or stored within this system may be disclosed or used for any lawful purpose.
      </div>
      <button [disabled]="!accept" [routerLink]="['/dashboard']" class="btn" (click)="staticModal.hide();">Accept</button>
    </div>
  </div>
</div>