div.forgot-modal {max-width: 442px !important; width: auto;margin: auto;}
.container-pass {background-image: url(/assets/img/change-password-wall.jpg); background-size:cover; height: 100vh; max-width: 100%;}


// .container-fluid {background-color: blue;}

// :host-context(.container-fluid)  {
//   background-color: red;
// }

// :host-context(.container-fluid){
//         background: red;
//       }
// :host(.container-fluid){
//   color:red;
// }

// :host-context(.container-fluid){
//   color:red;
// }